@charset "utf-8"; 

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Serif+KR:wght@400;500;600&display=swap');

@import 'mixin';

.a11y-hide { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

h1, h2, h3, h4, h5, h6 {
  @include reset-font;
  @include reset-space;
}

body, ul, li, p, button {
  @include reset-space;
}

body {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Noto Serif KR', serif;
  // background-color: #222222;
}

ul {
  list-style: none;
}

button {
  @include reset-font;
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  @include reset-font;
  color: inherit;
  text-decoration: none;
}