@charset "utf-8"; 

@import 'variables','reset', 'mixin';

.main {
  #bg {
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  header {
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    font-weight: 500;
    padding: 5vh 5vw;
    @include flex-content(row, space-between);
    img {
      height: 30px;
    }
  
    nav ul {
      @include flex-content(row, space-between);
      width: 50vw;
      color: white;
    }
  }
  article {
    position: absolute;
    top: 40%;
    bottom: 0;
    color: white;
    .wrap-btn {
      @include flex-content(row, flex-start);
      float: left;
      margin-top: 10vh;
      font-weight: 500;
      color: white;
      font-size: 24px;
      transform: rotate(-90deg);

      button {
        padding: 0px 10px;
      }
    }
    h3 {
      margin-left: 15vw;
      font-size: 72px;
      font-weight: 600;
    }
    p {
      font-size: 24px;
      margin: 30px 0 0 15vw;
      font-weight: 300;
    }
    .wrap-icon {
      @include flex-content(row, flex-start);
      position: absolute;
      left: 5vh;
      bottom: 5vh;
      
      img {
        margin-right: 30px;
        height: 30px;
      }
    }
  }  
}

#home{
  
  article {
    display: relative;
    border: 1px solid pink;
    height: 100vh;
  }


}

#navigator {
  @include flex-content(row, space-between);
  position: fixed;
  bottom: 3vh;
  right: 0;
  width: calc(50vw + 78px);
  nav {
    @include flex-content(row, center);
    a {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      margin: 10px;
      background-color: lightgray;
    }
    a:first-child {
      background-color: red;
    }
  }

  ul {
    @include flex-content(column, center);
    padding-right: 5%;
    li {
      color: white;
      margin: 5px;
      text-shadow: 1px 1px 1px gray;
      button {
        @include flex-content(row, center);
        background-color: red;
        width: 70px;
        height: 70px;
        border-radius: 100%;
      }
      img {
        width: 30px;
        padding: 20px;
      }
    }
  }
}

/* media query */
@include Max {

}

@include Large {

}

@include Medium {
  .main-bg {
    background-size: contain;
  }
}

@include Small {
  .main-bg {
    background-size: contain;
  }
}

@include Min {
  .main-bg {
    background-size: contain;
  }
}