        .wrap {
            margin:100px auto;
            width:500px; 
            border:1px solid red; 
        }
        .wrap div {
            height:100px;
        }

        .a { 
            background-color:coral;   
        }
          
        .b { 
            background-color:olive;  
            
        }

        .c { 
            background-color:gold;   
        }
        .d { 
            background-color:dodgerblue;   
        }
        .e { 
            background-color:tomato;   
        }

        .wrap.box1 {
          display: flex;
          flex-wrap: wrap;
        }

        .wrap.box1 .a{
          flex-grow: 1;
        }

        .wrap.box1 .b{
          flex-grow: 1;
        }

        .wrap.box1 .c{
          flex-basis: 100%;
        }
        
        .wrap.box2 {
          display: flex;
          flex-wrap: wrap;
        }

        .wrap.box2 .a{
          flex-basis: 100%;
        }

        .wrap.box2 .b{
          flex-grow: 1;
        }

        .wrap.box2 .c{
          flex-grow: 1;
        }      

        .wrap.box2 .d{
          flex-basis: 100%;
        }   
        
        .wrap.box3 {
          display: flex;
          flex-wrap: wrap;
        }

        .wrap.box3 .a{
          flex-basis: calc(100% / 3)
        }

        .wrap.box3 .b{
          flex-basis: calc(100% / 3)
        }

        .wrap.box3 .c{
          flex-basis: calc(100% / 3)
        }

        .wrap.box3 .d{
          flex-grow: 1;
        }   

        .wrap.box3 .e{
          flex-grow: 1;
        }   